<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a (click)="goToHome()" class="navbar-brand" href="/home">Crypto watcher</a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler"
          data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Portfolio</a>
      </li>
    </ul>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Profile</a>
      <a class="nav-item nav-link" href="#">Logout</a>
      <a class="nav-item nav-link" href="#">Login</a>
      <a class="nav-item nav-link" href="#">Register</a>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input aria-label="Search" class="form-control mr-sm-2" placeholder="Lookup Crypto" type="search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!--<button type="button" (click)="getToken()">Get token</button>-->
<!--<br>-->
<!--<button type="button" (click)="getUser()">Get user</button>-->
<!--<br>-->
<!--<button type="button" (click)="createUser()">Create user</button>-->
<!--<br>-->
<!--<button type="button" (click)="getCoins()">Get user coins</button>-->
<!--<br>-->
<!--<button type="button" (click)="addCoin()">Add ada</button>-->
