<div class="jumbotron">
  <h1 class="display-4">Welcome to Crypto Watcher</h1>
  <p class="lead">Your online portfolio and source for crypto currency and blockchain news!</p>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th (click)="sortTOP20('name')" scope="col">Name</th>
    <th (click)="sortTOP20('price')" scope="col">Price</th>
    <th (click)="sortTOP20('24h')" scope="col">24H change</th>
    <th (click)="sortTOP20('volume')" scope="col">Volume</th>
    <th (click)="sortTOP20('marketCap')" scope="col">Market Cap</th>
    <th (click)="sortTOP20('supply')" scope="col">Supply</th>
  </tr>
  </thead>
  <tbody *ngFor="let crypto of top20">
  <tr>
    <td>{{crypto.name}}</td>
    <td>${{crypto.price}}</td>
    <td>{{number_format.format(crypto.change24Hr)}}%</td>
    <td>${{number_format.format(crypto.volume)}}</td>
    <td>${{number_format.format(crypto.marketCap)}}</td>
    <td>{{number_format.format(crypto.supply)}} {{crypto.symbol}}</td>
  </tr>
  </tbody>
</table>

<div class="row">
  <div *ngFor="let x of generalNews.Data" class="col-sm">
    <div class="card" style="width: 18rem;">
      <img alt="{{ x.source }}" class="card-img-top" src="{{ x.imageurl }}">
      <div class="card-body">
        <h5 class="card-title">{{x.title}}</h5>
        <p class="card-text">{{x.body}}</p>
        <a class="btn btn-secondary" href="{{ x.url }}">Read more</a>
      </div>
    </div>
    <br>
  </div>
</div>
